@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@1&display=swap');
html, body{
    font-family: 'Nunito', sans-serif;
    background-color: #dcfafc;
}
.header{
    background-color: #dcfafc;
    font-size: 18px;
}
.navigation{
    margin-left: 540px;
   
}
.nav-links{
    margin-left: 470px;

}
